/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/04/2022, 02:05:02 AM
    Author     : Airth
*/
body{
    background:black;
     margin:0
}